.home{
    overflow: hidden;
}

  
  .tagline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .tagline {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 10px;
    max-width: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #e6e6e6, #f3f3f3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .tagline:hover {
    transform: translateY(-5px);
  }
  
  /* Add some subtle animation */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Add animation to the tagline text */
  .tagline-animation {
    animation: fadeInOut 3s infinite;
  }
  